
:root.theme-light {
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --bg-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --header-title-color: #FFC2E6;
  --page-font: 'IBM Plex Mono', sans-serif;
  --section-title-color:#353430;
  --content-section__subtitle-color: #353430;
  --accent-color-bottom: #353430;
  --accent-color-decor: #353430; 
  --bg-color-all: #FFF1F7;
  --header-title-color-shadow: #FF0070;
  
}
.theme-light .header__rec {
  display: none;
}
  



@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --bg-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --header-title-color: #FFC2E6;
    --page-font: 'IBM Plex Mono', sans-serif;
    --section-title-color:#353430;
    --content-section__subtitle-color: #353430;
    --accent-color-bottom: #353430;
    --accent-color-decor: #353430;
    --header-title-color-shadow: #FF0070;
  }
  
  .header__rec {
  display: none;
}
}