.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--page-font);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--accent-color-bottom);
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 1;
  padding: 4px 10px;
  grid-row: 1;
}

.header__theme-menu-button_active {
  border: 1.5px solid var(--accent-color-bottom);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-bottom);
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--accent-color-bottom);
  text-underline-offset: 3px;
}

.header__title {
  grid-row: 2;
  color: var(--header-title-color);
  font-family: var(--page-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.header__subtitle {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  font-size: 18px;
}

.header__rec {
  position: absolute;
  right: 36px;
  top: 10px;
  font-size: 18px;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  position: absolute;
  right: -18px;
  top: 8px;
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color-decor);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-family: var(--page-font);
  font-weight: 700;
  line-height: 23px;
}

.main {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
  background-color: var(--bg-color-all);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.content-section__subtitle {
  font-weight: 700;
  color: var(--content-section__subtitle-color);
  background-color: var(--accent-color);
}

.section__title {
  font-family: var(--page-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--section-title-color);
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}

.article__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.3;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: all 0.3s ease;
  font-family: var(--page-font);
  font-size: 18px;
  line-height: 23px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 2px;
}

a:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  background-color: var(--bg-color-all);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--header-title-color-shadow);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  line-height: 0.8;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
}

.card__title_thin {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section__wrapper {
    grid-column: span 2;
    align-items: start;
  }

  .content-section_type_row .content-section__wrapper {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-sunset { 
    grid-column: 1 / 3; 
  }

  .gallery-icecream { 
    grid-column: 3 / 4; 
    grid-row: 1 / 3; 
  }

  .gallery-muisuc { 
    grid-column: 1 / 2; 
    grid-row: 2 / 4; 
  }

  .gallery-window { 
    grid-column: 2 / 4; 
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    right: 50px;
    top: 20px;
  }
}

@media (min-width: 1024px) {

  .header {
    min-height: 768px;
    padding: 20px;
  }

  .footer {
    min-height: 768px;
    padding: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section__wrapper {
    grid-column: span 2;
    align-items: start;
  }

  .content-section_type_row .content-section__wrapper {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-sunset { 
    grid-column: 1 / 3; 
  }

  .gallery-icecream { 
    grid-column: 3 / 4; 
    grid-row: 1 / 3; 
  }

  .gallery-muisuc { 
    grid-column: 1 / 2; 
    grid-row: 2 / 4; 
  }

  .gallery-window { 
    grid-column: 2 / 4; 
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    right: 50px;
    top: 20px;
  }
}
