.page {
  color: var(--text-color);
  font-family: var(--page-font), monospace;
  background-color: var(--bg-color-all);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  grid-row: 1;
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color-bottom);
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-bottom);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-bottom-decor);
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color-bottom);
  outline: none;
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  color: var(--header-title-color);
  font-family: var(--page-font);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
}


.header__subtitle {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  font-size: 18px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 36px;
  color: var(--accent-color);
  font-size: 18px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -18px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color-decor);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.title-decor {
  color: var(--bg-color);
  font-family: var(--page-font);
  font-weight: 700;
  line-height: 23px;
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px; 
}

.content-section {
  display: grid;
  gap: 21px;
}

.content-section__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__subtitle {
  color: var(--content-section-subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  background-color: var(--accent-color);
}

.section__title {
  color: var(--section-title-color);
  font-family: var(--page-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}

.article__text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 5px;
}

.gallery-list img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

a {
  color: var(--text-color);
  font-family: var(--page-font);
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px solid var(--text-color);
  text-decoration: none;
}

a:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer__title {
  color: var(--header-title-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 2px 2px 0 var(--header-title-color-shadow);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
}

.card__title--secondary {
  color: #000028;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 20px;
  }

  .footer {
    padding: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content-section {
    grid-template-columns: minmax(0, 236px) 1fr 1fr;
  }

  .content-section__wrapper {
    grid-column: span 2;
    align-items: start;
  }

  .content-section_features .content-section__wrapper {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list img {
    object-fit: cover;
  }

  .gallery-item--sunset {
    grid-column: 1 / 3;
  }

  .gallery-item--icecream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-item--muisuc {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-item--window {
    grid-column: 2 / 4;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 50px;
  }
  .header__subtitle { 
    max-inline-size: 50%;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px;
  }

  .footer {
    padding: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content-section {
    grid-template-columns: minmax(0, 315px) 1fr 1fr;
  }


  .content-section__wrapper {
    grid-column: span 2;
    align-items: start;
    align-self: start;
    height: auto;  
  }

  .content-section_features .content-section__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }

  .gallery {
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list img {
   object-fit: cover;
  }

  .gallery-item--sunset {
    grid-column: 1 / 3;
  }

  .gallery-item--icecream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-item--muisuc {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-item--window {
    grid-column: 2 / 4;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 50px;
  }
  
  .header__subtitle {
  max-inline-size: 50%;
  }
}
